#author { margin-top: 100px; }
ul li { margin: 30px 0px; }
p.right-align { /* text-align: right; */ display: inline-block; margin-left: 10px; /* font-weight: 200; */}
#reveal h3.emph { margin-top: 40px; font-size: 45px; display: inline-block;}

#reveal ul li ul { list-style-type: none; font-size: 30px; color: #ddd; width: 100%;}
#reveal ul li ul li, #reveal #l-and-r ul li { margin: 0px 0px 10px 20px; }

#jargon p { font-size: 30px; }

#reveal #writing-functions li { margin: 20px 0px; }
#reveal #writing-functions ul { margin-top: 0px;}

#reveal pre.inline { display: inline-block; width: auto; background-color: none;}
#reveal pre.inline code { font-size: 30px; padding: 10px 20px;}